<section>
    <div class="content">
        <div id="container" class="container">
            <div class="text-center margin-bottom">
                <img src="./assets/img/monster-01.png">
            </div>

            <div class="row">
                <div class="col-md-8 col-sm-6 col-md-offset-2 col-sm-offset-3">
                    <div class="card">
                        <div class="header text-center">
                            Oups ! Cette page n'existe pas sur Mandareen.fr
                        </div>
                        <div class="content">
                            <ul>
                                <li><a routerLink="/admin/home">Retour à l'accueil de Mandareen Pro Web</a></li>
                                <li><a routerLink="/auth/login">Retour à la page de connexion</a></li>
                                <li><a routerLink="/register">Retour au formulaire d'inscription</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

