h3, h3 > .content {
    font-weight: bold;
    color: #fea617!important;
}

.ui.segment.offres {
    min-height: 300px;
}

.wrapper {
    margin-top: -7%;
    padding-top: 5%;
    background: url('../../../assets/img/bg.jpg') no-repeat center;
    background-size: 100% 100%;
    background-position: top center;
}