<div class="ui segment">
    <h1 class="title1">Mes données personelles
        <button class="ui button green inverted right floated" (click)="update()">Mettre à jour</button>
    </h1>

    <div class="ui stackable grid two column">
        <div class="column ui form">
            <h4 class="ui header">
                Informations de connexion
            </h4>

            <div class="field">
                <label>E-mail : </label>
                <input type="text" [(ngModel)]="user.pro.email" placeholder="E-mail">
            </div>
            <div class="field">
                <label>Mot de passe actuel : </label>
                <input type="password" [(ngModel)]="user.pro.password" placeholder="Indiquez votre nouveau mot de passe actuel">
            </div>
            <div class="field">
                <label>Nouveau mot de passe : </label>
                <input type="password" [(ngModel)]="user.pro.password" placeholder="Indiquez votre nouveau mot de passe">
            </div>
            <div class="field">
                <label>Nouveau mot de passe : </label>
                <input type="password" [(ngModel)]="user.pro.password" placeholder="Retapez votre nouveau mot de passe">
            </div>
        </div>
        <div class="column ui form">
            <div class="block min-height">
                <h4 class="ui header">
                    Informations personnelles
                </h4>
                <div class="field">
                    <label class="block-label">Civilité : </label>
                    <select [(ngModel)]="user.pro.civ" placeholder="Civilité">
                        <option value="M">M</option>
                        <option value="Mme">F</option>
                    </select>
                </div>
                <div class="field">
                    <label class="block-label">Nom : </label>
                    <input type="text" [(ngModel)]="user.pro.lastname" placeholder="Nom">
                </div>
                <div class="field">
                    <label class="block-label">Prénom : </label>
                    <input type="text" [(ngModel)]="user.pro.firstname" placeholder="Prénom">
                </div>
                <div class="field">
                    <label class="block-label">Ville : </label>
                    <input type="text" [(ngModel)]="user.pro.city" placeholder="Ville">
                </div>
                <div class="field">
                    <label class="block-label">Code Postal : </label>
                    <input type="text" [(ngModel)]="user.pro.zipcode" placeholder="75003">
                </div>
                <div class="field">
                    <label class="block-label">Numéro de téléphone : </label>
                    <input type="text" [(ngModel)]="user.pro.phone" placeholder="0666915897">
                </div>
            </div>
        </div>
    </div>
</div>