<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="azure" data-image="./assets/img/full-screen-image-3.jpg">

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div class="card">
                            <div class="header">Changer mon mot de passe</div>

                            <div class="content">
                                <form [formGroup]="ResetForm" (ngSubmit)="resetpassword(ResetForm.value)">

                                    <div class="form-group" [ngClass]="{'has-error':!email.valid && email.touched}">
                                        <label>Adresse mail</label>
                                        <input type="email"
                                               name="email"
                                               class="form-control"
                                               placeholder="super.idel@email.com"
                                               required
                                               [formControl]="ResetForm.controls['email']"
                                        >
                                        <div *ngIf="email.hasError('required') && email.touched"
                                             class="alert alert-danger">Votre email n'est pas reconnu .
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-fill btn-info" [disabled]="!ResetForm.valid"> Ré-initialiser mon mot de passe </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>