<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="azure" data-image="../../../assets/img/fond-pro2.png">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div class="card ">
                            <div class="header text-center">
                                Oups ! Cette page n'existe pas sur
                                <span class="libheros">Libheros</span> <span class="libheros-pro">Pro</span>
                            </div>
                            <div class="content">
                                <ul>
                                    <li><a routerLink="/admin/dashboard">Retour à l'accueil de Libheros Pro Web</a></li>
                                    <li><a routerLink="/auth/login">Retour à la page de connexion</a></li>
                                    <li><a routerLink="/auth/register">Retour au formulaire d'inscription</a></li>
                                    <li><a href="https://libheros.fr/pros">Retour au site libheros.fr</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-cmp></footer-cmp>