<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="alert alert-warning">
                                    Si rien n'apparaît quand vous changez de page, pas de panique !
                                    Rafraîchissez juste la page avec le bouton "Actualiser" de votre navigateur.
                                    Rien de grave, notre équipe technique est au travail
                                    <i class="fa fa-wrench"></i>
                                    <i class="fa fa-cogs"></i>
                                    <i class="fa fa-laptop"></i>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <b>Vous n'êtes pas encore abonné(e) donc votre module de gestion patient n'est
                                        pas activé sur Mandareen Pro Web. Pour vous abonner, contactez-nous au 06 66 91 58 97
                                        !</b>
                                </p>
                                <p>
                                    Cette version est encore simple et en version "beta" mais
                                    vous bénéficierez Mandareen progressivement de
                                    nouvelles fonctionnalités.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
