<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="title text-center hidden-xs">Gestion de vos paramètres</h4>
        <div class="toolbar">
          <ul>
            <li routerLinkActive="active">
              <a routerLink="office">
                <i class="fa fa-info"></i><br>
                Coordonnées
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="frames">
                <i class="fa fa-clock-o"></i><br>
                Horaires
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="payment">
                <i class="fa fa-money"></i><br>
                Moyens de paiement
              </a>
            </li>
          </ul>
        </div>
        <div class="btn-group btn-group-justified hidden-lg hidden-sm hidden-md" role="group">
          <a type="button" class="btn btn-default" routerLink="office"><i class="fa fa-info"></i></a>
          <a type="button" class="btn btn-default" routerLink="frames"><i class="fa fa-clock-o"></i></a>
          <a type="button" class="btn btn-default" routerLink="payment"><i class="fa fa-money"></i></a>
        </div>
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
